# Configuration for vbox_office_launcher
# Put this file as /home/USERNAME/.config/vbox_office_launcher.conf

VM_NAME="Win11" # Change Win11 to the name of your VM
VM_USER="USERNAME" # Change USERNAME to the username of the user account in the VM
VM_PASSWORD="PASSWORD" # Change PASSWORD to the password of the user account in the VM
WORD_PATH="C:\\Program Files\\Microsoft Office\\root\\Office16\\WINWORD.EXE" # Change the path to the path of the Word executable in the VM
EXCEL_PATH="C:\\Program Files\\Microsoft Office\\root\\Office16\\EXCEL.EXE" # Change the path to the path of the Excel executable in the VM
POWERPOINT_PATH="C:\\Program Files\\Microsoft Office\\root\\Office16\\POWERPNT.EXE" # Change the path to the path of the PowerPoint executable in the VM
VM_SHARE_PATH="/home/USERNAME/" # Change USERNAME to your username
VM_DRIVE_LETTER="G:" # Change G to the drive letter where you mount the local files system in your VM
AUTO_FOCUS=false # Change false to true if you want the VM to automatically focus on the window
SCRIPT_TIMEOUT=6 # Change the timeout for the script in seconds.
NOTIFICATION_TIMEOUT=$((SCRIPT_TIMEOUT * 1000)) # Change the timeout for the notification in milliseconds. This does not actually work for me. I just set it to the actual aprx. timeout